@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;900&display=swap");

$prime: #93add3;
$second: #4284df;
$bgcolor-prim: #eeeeee;
html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  color: #232323;
  text-decoration: none;
  cursor: pointer;
}
body {
  font-family: "Roboto", sans-serif;
}
ul {
  list-style: none;
}
.header-1 {
  font-weight: 400;
  font-size: 3.5rem;
}
.header-2 {
  font-weight: 500;
  font-size: 1.8rem;
}
.header-3 {
  font-weight: 500;
  font-size: 1.4rem;
}
.btn {
  height: 50px;
  width: 180px;
  border: none;
  border-radius: 5px;
  border: 2px solid $prime;
}
.flex {
  display: flex;
}
.f-col {
  flex-direction: column;
}
.header {
  width: 100%;
}
.topBar {
  z-index: 10;
  width: 100%;
  background-color: white;
  height: 90px;
  align-items: center;
  justify-content: space-between;
  transition: all 0.5s ease-in-out;
}
.logo {
  margin-top: 10px;
  width: 80px;
  height: 80px;
  background-image: url(../assets/logo/logo.png);
  background-size: contain;
  z-index: 20;
}
.nav {
  &-list {
    background-color: white;
    width: 100%;
    position: absolute;
    list-style: none;
    top: -250px;
    left: 0;
    transition: all 0.5s ease-in-out;
  }
  &-item {
    padding: 5px 10px;
    width: 150px;
    margin: 5px auto;
    color: black;
    text-align: center;
    transition: all 0.4s ease-in-out;
    &:hover {
      transition: all 0.3s ease-in-out;
      background-color: #93add3;
      border-radius: 15px;

      a {
        color: white;
      }
    }
  }
}
.contact {
  border-radius: 5px;
  background-color: $second;
  color: white;
}
.hamburger {
  display: block;
  position: relative;
  margin-right: 30px;
  top: 10px;
  z-index: 1;

  -webkit-user-select: none;
  user-select: none;
  &-input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;

    cursor: pointer;

    opacity: 0; /* hide this */
    z-index: 2;
  }

  &-line {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;

    background: #232323;
    border-radius: 3px;

    z-index: 1;

    transform-origin: 4px 0px;

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
      background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;

    &:first-child {
      transform-origin: 0% 0%;
    }
  }
  &-input:checked ~ &-line {
    opacity: 1;
    transform: rotate(45deg) translate(1px, -1px);
    background: #232323;
  }
  &-input:checked ~ &-line:nth-last-child(2) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }
  &-input:checked ~ &-line:last-child {
    transform: rotate(-45deg) translate(-1px, -1px);
  }
}
.active {
  transition: all 0.5s ease-in-out;
  top: 80px;
}
.fixed {
  transition: all 1s ease-in-out;
  height: 80px;
  position: fixed;
}
.hero {
  height: calc(100vh - 90px);
  color: white;
  background-color: $prime;
  background-position: center;
  background-image: url(../assets/img/broker.jpg);
  background-size: auto 100%;
  background-blend-mode: multiply;

  &-content {
    height: 100%;
    align-items: center;
    justify-content: center;
  }

  &-text {
    margin: 20px;
    font-size: 1.3rem;
  }

  &-button {
    margin-top: 60px;
    color: white;
    font-weight: 700;
    background-color: $prime;
  }
}
.header-arrow {
  position: fixed;
  left: 50%;
  bottom: 20px;
  width: 60px;
  height: 60px;
  border-radius: 50px;
  opacity: 0.3;
  background-color: lightgray;
  border: none;
  transition: all 0.4s ease-in-out;

  &-up {
    left: 80%;
    transition: all 0.4s ease-in-out;
    transform: rotate(180deg);
  }
}
.about {
  align-items: center;
  background-color: $bgcolor-prim;
  text-align: center;
  padding-bottom: 60px;
  &-text {
    margin: 0px 20px;
  }
  &-header {
    margin: 50px 0 30px;
  }
  &-item {
    color: $prime;
    margin: 50px;
    align-items: center;
    &-text {
      font-size: 1.2rem;
      font-weight: 500;
      margin-top: 30px;
      color: black;
    }
  }
  &-button {
    transition: all 0.6s ease-in-out;
    color: $prime;
    &:hover {
      transition: all 0.6s ease-in-out;
      color: white;
      background-color: $second;
    }
  }
}
.news {
  margin: 50px 20px;

  &-header {
    text-align: center;
    margin-bottom: 80px;
  }
  &-letter {
    text-align: center;
    margin: 30px 0 20px;
    font-weight: 400;
    &-text {
      margin-bottom: 30px;
    }
    &-input {
      margin-top: 10px;
      padding: 15px;
      background-color: $bgcolor-prim;
      border: 1px solid rgb(230, 228, 228);
      &::placeholder {
        color: darkgrey;
      }
      &:focus {
        outline-color: lightgray;
      }
    }
    &-btn {
      border: none;
      margin: 20px auto;
      background-color: $second;
      color: white;
      text-transform: uppercase;
      font-weight: 700;
      letter-spacing: 1px;
      transition: all 0.6s ease-in-out;

      &:hover {
        transition: all 0.6s ease-in-out;
        color: black;
        background-color: $bgcolor-prim;
      }
    }
  }
}
.footer {
  padding: 20px 20px 40px;
  align-items: center;
  background-color: $bgcolor-prim;
  &-header {
    font-size: 1.6rem;
    margin-bottom: 30px;
  }
  &-copyright {
    text-align: center;
  }
}
.social {
  &-wrapper {
    margin-top: 20px;
  }
  &-icon {
    margin-right: 10px;
  }
}
.offer {
  align-items: center;
}
.advert {
  margin: 40px 10px 0px;
  width: 80%;
  &:nth-child(3) {
    margin-bottom: 80px;
  }
  &-header {
    text-align: center;
    margin-bottom: 30px;
  }
  &-list {
    align-items: center;
    &-item {
      margin-bottom: 10px;
    }
  }
}
.offerDesc {
  background-color: $bgcolor-prim;
  padding: 40px;
}
.forCustomer {
  text-align: center;
}
.card {
  z-index: 1;
  position: relative;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0px 1px 4px rgb(201, 201, 201);
  text-align: center;
  min-width: 250px;
  max-width: 350px;
  height: 220px;
  margin: 20px;
  padding: 20px 15px;

  &-num {
    bottom: 20px;
    left: 45%;
    position: absolute;
    font-size: 1.1rem;
    font-weight: 900;
  }
}
.aboutus {
  text-align: center;
  &-text {
    text-align: justify;
    margin: 20px 35px;
  }
}

.team {
  align-items: center;
}
.person {
  margin: 20px auto;
  text-align: center;
  align-items: center;
  min-width: 300px;
  max-width: 350px;
  &-img {
    margin-top: 20px;
    width: 200px;
    border-radius: 50%;
  }
  &-name {
    margin: 20px 0;
  }
  &-desc {
    font-size: 0.9rem;
  }
  &-social-wrapper {
    margin-top: 20px;
  }
}
